#demotext {
    color: #235789;
    background: #800404;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #C63C41, 0 0 30px #C63C41, 0 0 40px #C63C41, 0 0 55px #C63C41, 0 0 75px #C63C41;
    color: #235789;
    background: #F1D302;
    }