#demotext {
    color: rgb(245, 13, 13);
    background: #800404;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
    color: rgb(245, 11, 11);
    background: #0f0b00;
    }